.sidebar-login {
  margin: 20px auto;
  width: 90%;
  padding: 20px;
  background-color: #7200a1;
  border-radius: 10px;
  color: #fff;
  p {
    text-align: center;
    font-weight: 400;
  }
}
.button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 40px;
  border-radius: 20px;
  background: inherit;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  &:hover {
    cursor: pointer;
    background: #47006657;
  }
}
