.user-item {
  height: 40px;
  tr {
    td:last-child {
      display: flex;
      justify-content: flex-end;
    }
  }
  &:hover {
    .btn {
      visibility: visible;
    }
  }
  .btn {
    visibility: hidden;
  }
  .btn-remove {
    margin-left: 10px;
    color: rgb(243, 86, 86);
    border: solid 1px rgb(243, 86, 86);
    &:hover {
      color: #fff;
      background: rgb(243, 86, 86);
    }
  }
  .btn-edit {
    color: rgb(51, 192, 192);
    border: solid 1px rgb(51, 192, 192);
    &:hover {
      color: #fff;
      background: rgb(51, 192, 192);
    }
  }
}
