.main-footer {
  color: #fff;
  margin-top: 30px;
  padding: 0 30px;
  text-align: center;
  .title {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    &:hover {
      cursor: pointer;
      color: #c662ef;
    }
  }
  .list-footer {
    margin-top: 20px;
    .img-item {
      img {
        width: 100%;
        border-radius: 15px;
      }
    }
  }
}
