.main-radio {
  margin-top: 40px;
  color: #fff;
  h2 {
    font-size: 24px;
    font-weight: 600;
  }
  .main-radio-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
