.list-img {
  margin: 45px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

  //   height: 150px;
  .slider-button {
    width: 60px;
    height: 60px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.479);
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    display: none;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 32px;
    }
  }
  .prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .next {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(-50%, -50%);
  }
  &:hover {
    .slider-button {
      display: inline-block;
    }
  }
}
