.player-song-item {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  font-size: 12px;
  // background-color: #fff;
  // &:hover {
  //   div {
  //     i {
  //       display: inline-block;
  //     }
  //   }
  // }
  div {
    a {
      text-decoration: none;
    }
  }

  .song-image {
    position: relative;
    img {
      display: block;
      width: 50px;
      height: 50px;
      padding: 7px;
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      z-index: 1;
      color: #eee;
      display: none;
    }
  }
  .song-info {
    margin-left: 10px;
  }
  .song-name {
    font-size: 12px;
  }
  .song-singer {
    color: rgba(238, 238, 238, 0.589);
    font-size: 11px;
    &:hover {
      color: #d46fff;
    }
  }
  .song-singer:hover {
    text-decoration: underline;
  }
  .song-btn {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(-50%, -50%);
    // opacity: 0
  }
  .song-btn-icon {
    position: relative;
    margin-left: 10px;
    padding: 5px;
    border-radius: 50%;
    display: none;
    span {
      position: absolute;
      top: -12px;
      left: 20%;
      transform: translate(-50%, -50%);
      padding: 5px;
      background-color: rgba(129, 124, 124, 0.26);
      border-radius: 10px;
      font-size: 10px;
      text-align: center;
      display: none;
      width: 100px;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.233);
      span {
        display: inline-block;
      }
    }
  }
}
.selected {
  background-color: #7200a1;
  div {
    .play-icon {
      display: inline-block;
    }
  }
  &:hover {
    background-color: #7200a1;
    div {
      i {
        display: inline-block;
      }
    }
  }
}
.bgc-grey:hover {
  background-color: rgba(255, 255, 255, 0.123);
  div {
    i {
      display: inline-block;
    }
  }
}
.music-player {
  width: 100%;
  .song-image {
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: solid 1px rgba(255, 255, 255, 0.342);
    }
  }
  .song-info {
    .song-name {
      font-size: 14px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      max-width: 100%;
    }
  }
  .song-btn {
    .option-icon {
      display: inline-block;
    }
  }
  &:hover {
    div {
      .option-icon {
        display: inline-block;
      }
      a {
        .song-singer {
          &:hover {
            color: rgb(231, 89, 250);
          }
        }
      }
    }
  }
}
.song-active {
  i {
    display: inline-block;
  }
  div {
    a {
      .song-singer {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
