.musicPlayer-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 15%;
  .icon {
    margin: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      &:not(:first-child) {
        margin-left: 12px;
      }
      img {
        width: 30px;
        height: 20px;
        filter: invert(1);
        cursor: not-allowed;
      }
    }
  }
  .seekbar {
    margin-left: 15px;
    height: 4px;
  }
}
