.main-release-wrapper {
  margin-top: 30px;
  color: #fff;
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
  .main-release {
    margin-top: 20px;
  }
  .list-item {
    margin-top: 20px;
  }
}
