.main-item {
  color: #fff;
  .item-img {
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    cursor: pointer;

    img {
      border-radius: 5px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      transition: all 1s;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #00000071;
    }
    .img-btn-wrapper {
      width: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
      z-index: 100;
      .img-btn {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        &:hover {
          background-color: rgba(255, 255, 255, 0.274);
          .desc {
            display: inline-block;
          }
        }
        i {
          font-size: 16px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .desc {
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          font-size: 11px;
          background-color: rgba(0, 0, 0, 0.479);
          padding: 5px;
          border-radius: 10px;
          display: none;
        }
        .longer {
          width: 110px;
        }
      }
      .img-btn-center {
        i {
          color: rgba(255, 255, 255, 0.705);
          font-size: 50px;
        }
      }
    }
    &:hover {
      .img-btn-wrapper {
        visibility: visible;
      }
      img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      .overlay {
        opacity: 1;
      }
    }
  }
  h4 {
    margin: 7px 0;
    font-weight: 600;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
      color: #ce6bf8;
    }
  }
  p {
    color: rgba(255, 255, 255, 0.514);
    font-weight: 400;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
  }
}
.top100 {
  p {
    display: none;
  }
}
