.button {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin: 20px auto 0;
  padding: 10px 40px;
  border-radius: 20px;
  background: #7200a1;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  &:hover {
    color: #fff;
    cursor: pointer;
    background: #47006657;
  }
}
.more {
  padding: 10px 30px;
  color: #fff;
  &:hover {
    background-color: rgba(255, 255, 255, 0.089);
  }
}
.event-btn {
  padding: 10px 20px;
  margin: 10px 0;
  text-transform: uppercase;
  background-color: #9107cc;
  border: none;
  &:hover {
    background-color: #7500a7;
  }
}
.button-personal {
  margin: 0 0 0 10px;
  background-color: #574b58a4;
  padding: 5px 15px;
  font-weight: 400;
  font-size: 12px;
  border: none;
  color: rgba(255, 255, 255, 0.753);

  &:hover {
    background: rgba(255, 255, 255, 0.336);
    color: #fff;
  }
}
.buy-vip-btn {
  border: none;
  color: #000;
  background-color: #ffdb00;
  &:hover {
    color: #000;
    background-color: #c5ab01;
  }
}
.btn-navbar {
  width: 120px;
  margin-left: 0;
  background: none;
}
