.button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 40px;
  border-radius: 20px;
  background: inherit;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  &:hover {
    cursor: pointer;
    background: #47006657;
  }
}
.more {
  padding: 10px 30px;
  color: #fff;
  &:hover {
    background-color: rgba(255, 255, 255, 0.089);
  }
}
