@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   color: white;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}
.App {
  display: flex;
  justify-content: space-between;
  position: relative;
  .main {
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 90px);
    padding: 0 70px 10px;
    background-color: #170f23;
    &::-webkit-scrollbar {
      width: 5px; /* Chiều rộng vùng chứa scrollbar */
      opacity: 0;
      background: transparent;
    }
    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.13); /* Màu nền ngoài của thanh scrollbar */
    }
    &::-webkit-scrollbar-thumb {
      background-color: #918f8f80; /* Màu của thanh cuộn (scroll thumb) */
      border-radius: 5px; /* Bo góc scroll thumb */
    }
    &::-webkit-scrollbar:hover {
      opacity: 1;
    }
  }
}
